@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

body {
  font-family: "Noto Sans KR" !important;
  margin: 0 !important;
  padding: 0 !important;
}

.navbar {
  margin-bottom: 50px !important;
}

.navbar-brand {
  font-size: 30px !important;
}

.news {
  font-size: 24px;
  color: #333 !important;
}

.card-title {
  font-weight: bold !important;
  line-height: 30px !important;
}

.heading {
  font-size: 24px !important;
  font-weight: bold !important;
}

.entertainment {
  line-height: 40px !important;
}

h3 {
  font-size: 24px !important;
}

h2 {
  font-size: 32px !important;
}
